*, *::before, *::after {
    box-sizing: border-box;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body {
    margin: 10px;
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
}
#container {
    background: white;
    width: 500px;
    height: 300px;
    margin: 50px;
    padding: 30px;
    box-shadow: 0px 5px 15px 0px;
}

.btn-grid {
    display: grid;
    margin: 15px;
    gap: 5px;
}

.choice {
    background-color: rgb(161, 19, 161);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

#scoreContainer{
    margin : 20px;
    margin-top: 50px;
    background-color: white;
    height: 150px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    display: none;
    padding: 30px;
    text-align: center;


}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 10px;
}

#timer {
    height : 50px;
    width : 150px;
    margin : 10px;
    text-align: center;
}
